@font-face {
    font-family: pacFont;
    src: url(../font/PAC-FONT.TTF);
}

body {
    justify-content: space-between;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-image: url(../images/background.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
}
.withLogin {

    height: 209px;
    width: 209px;
    background-image: url(../images/play.png);
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.play-button {

    height: 209px;
    width: 209px;
    background-image: url(../images/play.png);
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.press {
    font-family: 'Press Start 2P', cursive;
    color: yellow;
    /* width: 220px; */
    height: 20px;
    margin-top: 27px;
}

.title {
    font-family: pacFont, cursive;
    font-size: 50px;
    color: yellow;
    height: 50px;
    margin-top: 98px;
}

.info {
    font-family: 'Press Start 2P', cursive;
    color: white;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.login {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.googleSignIn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: yellow;
    border-radius: 10px;
    font-family: 'Press Start 2P', cursive;
    color: black;
    height: 80px;
    padding: 0 10px;
    margin-bottom: 30px;
}

.gicon {
    background-image: url('../images/g.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-color: white;
    height: 60px;
    width: 60px;
    margin-right: 10px;
}

.hide {
    display: none;
}

.signout {
    text-decoration: underline;
}
.rectangle-2 {

    justify-content: space-evenly;
    font-family: 'Press Start 2P', cursive;
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin-top: 181px;
    align-items: center;
    height: 349px;
    width: 364px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.7);
  }
  .googleSignIn2 {
      width: 304px;
      align-items: center;
    display: flex;
    align-items: center;
    background-color: yellow;
    border-radius: 10px;
    color: black;
    height: 80px;
    padding: 0 10px;
    margin-bottom: 30px;
}

.gicon2 {
    background-image: url('../images/g.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-color: white;
    height: 60px;
    width: 60px;
    margin-right: 10px;
}
.pleaselogin {
    margin-bottom: 73px;
        height: 58px;
        width: 333px;
        color: #000;
        font-family: "Press Start 2P";
        font-size: 16px;
        line-height: 24px;
        text-align: center;
}
.rectangle-2 {

    height: 243px;
    width: 364px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.7);
  }

  .rectangle-3 {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 243px;
    width: 364px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.7);
    margin-bottom: 250px;
  }
  
  .group {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Press start 2P";
      margin-bottom: 37px;
    border-radius: 40px;
    background-color: yellow;
    height: 50px;
    width: 188px;
  }
  .sure {

      /* margin-bottom: 32px; */
      font-family: "Press Start 2P";
      font-size: 16px;
      align-items: center;
      /* margin-top: 76px; */
  }
  .icon-cancel {
      display: flex;
      justify-content: flex-end;
    width: 364px;
  }
  .icon-cancel img {
    height: 44px;
    width: 44px;
    margin-right: 8px;
    margin-top: 8px;
  }
  .withoutLogin {
    height: 209px;
    width: 209px;
    background-image: url(../images/play.png);
    background-size: cover;
    align-items: center;
    justify-content: center;
}
