@font-face {
    font-family: pacFont;
    src: url(../font/PAC-FONT.TTF);
    font-family: 'Press Start 2P', cursive;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-image: url(../images/background.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-family: pacFont, cursive;
    font-size: 50px;
    color: yellow;
    height: 50px;
    margin-top: 8vh;
}

.mid-container {
    width: calc(100% - 50px);
    height: 58vh;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.play {
    color: black;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    width: calc(100% - 50px);
    height: 67px;
    border-radius: 10px;
    background-color: rgba(255, 255, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.loading-text {
    width: 80%;
    height: 25px;
    margin-top: 2vh
}

.players {
    width: 40%;
    height: 21vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.hide {
    display: none;
}